* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
  }
  
  /* Style the header */
  .header {
    grid-area: header;
    background-color: transparent;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 35px;
    border: 1px solid #000000;
  }
  
  h1 {
    margin-top:0
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
    font-size: 15px;
}

  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'header2 header2 header2 header2 header2 header2'
      'left middle middle middle middle right' 
      'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  } 
  
  .left {border-left: 1px solid #000000; margin: 0; padding: 0; border-right: 1px solid #000000;}
  .middle {border-left: 1px solid #000000; border-right: 1px solid #000000; margin: 0; padding: 0;}
  .right {border-right: 1px solid #000000; border-left: 1px solid #000000; margin: 0; padding: 0;}
   
 
  
  .header2  {
     grid-area: header2;
    background-color: transparent;
    
    padding: 0;
    margin: 0;
    
  }
  
  
  
  /* Style the left column */
  .left {
    grid-area: left;
    overflow: auto;
    text-align: center;
   
    

  
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle  ;
   
    
   
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
    overflow: auto;
    text-align: center;
   
  }
  
  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'header2 header2 header2 header2 header2 header2' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
  }

  a:link {
    text-decoration: none;
    font-size: 18px;
    float: left;   
    color:#ffffff;}
    

   
    
   
  
  a:visited {
    text-decoration: none;
    color: #ffffff; 
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

 ul a:link{
  
  margin: 0 auto;
  text-align: left;
  padding-right: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  
  
 }

 ul li {

    
display: inline;
 

 
 
}

 
 
 
 

  .flex-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(23, 24, 26);
    justify-content:space-evenly;
    
   
 

  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 0;
    padding: .5em .5em 0 0;
    font-size: 30px;
  
   
  
    
    
    
  }

 
  .flex-book-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    
  }
  
 
  
  .flex-item {
    background-color: transparent;
    padding: 10px;
    flex: 25%;
  
    
  }
  
  
 
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-book-container, .flex-container {
      flex-direction: column;
    }
  }
   

 
 

  .item1 {flex-grow: 2}
.item2 {flex-grow: 6}
.item3 {flex-grow: 2}
 
#box {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  border: 3px solid #000000;
  border-radius: 10px;
  color:#000000;
  display: none;
  position: absolute;
    top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #f2f2f2;
}
#box:target {display: block;
  color:#000000;
  }
 
 
  
  .text {

    overflow: auto;
    text-align: center; 
    
    width: 400px;
     
    margin: 0 0 0 .7em;
    padding: 0 0 0 0;
    
    
     
 }

 #box a {
  background-color: transparent; /* Green */
  border: none;
  color:#000000;
  padding: 8px 4px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

 
 
#box a:link {
  text-decoration: none;
  font-size: 18px;
  float: left;   
  color:#000000;}
  

 
  .list span{

    font-size: 15px;
    
  }

  .list-sum {

    font-size: 15px;

  }
 

  #box a:visited {
  text-decoration: none;
  color: #000000; 
}

#box :hover {
  text-decoration: underline;
}

#box  a:active {
  text-decoration: underline;
}

}
.cart, .img{
    width:30%;
    cursor: pointer;
    padding-right: 10px;
}

.cart button {
    
    font-size:10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
}

.menu li {
   padding-right: 12px;
    cursor: pointer;
    
}


.booklist {
  display:flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  float: right;
  padding: 3px;
 
  
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 5px;

}

.booklist article {
  width:100px;
}

.booklist article button {
  width:100%;
}

.booklist h2 {
  margin:0;
  padding:0;
  font-size: 10px;
}

.booklist p {
  margin:0;
  padding:0;
  font-size:10px;
  
}

.booklist .image {
  height: 150px;
  background-color:#333;
}

.popup-cart,
.popup-itemadded {
    position: absolute;
    width:260px;
    background-color:white;
    border:solid 1px;
    padding:10px;
    top:70px;
    left:-100px;
    border-radius: 10px;
}

.popup-itemadded{
    display: none;
}

.popup-itemadded .buttons{
    display:grid;
    row-gap: 10px;
    column-gap: 10px; 

    grid-template: 
    'a a'
    'b c'
}

.popup-itemadded .buttons button:nth-child(1){
    grid-area: a;
}

.popup-itemadded .buttons button:nth-child(2){
    grid-area: b;
}

.popup-itemadded .buttons button:nth-child(3){
    grid-area: c;
}

.popup-itemadded .buttons button {
    padding:5px;
}

.popup-cart .list article{
    display: grid;
    grid-template:
    'a . b b'
    'a . b b'
    'a . c d'
    ;
    grid-template-columns: 70px 10px auto 70px;
    margin-bottom: 20px;
}
.popup-cart .list article input {
    width:15px
}

/* .popup-cart .list article > * {
    border:solid 1px
} */

.popup-cart .list article > *:nth-child(1){
    grid-area:a;
    background-color:rgb(119, 119, 119);
    height:100px;
}

.popup-cart .list article > *:nth-child(2){
    grid-area:b;
    margin:0;
    font-weight: bold;
}

.popup-cart .list article > *:nth-child(3){
    grid-area:c
}

.popup-cart .list article > *:nth-child(4){
    grid-area:d;
    justify-self: end;
}

.popup-cart .list-sum{
    display: grid;
    grid-template:
    'a b'
    'c c';
    grid-template-columns: auto 70px;
    margin-bottom: 20px;
}

.popup-cart .list-sum > *:nth-child(1){
    grid-area:a;
}
.popup-cart .list-sum > *:nth-child(2){
    grid-area:b;
    justify-self: end;
    font-weight: bold;
}

.popup-cart .list-sum > *:nth-child(3){
    grid-area:c;
    font-size:11px;
}

.popup-cart .buttons {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.popup-cart .buttons button{
    padding:5px;
}


.numberCircle {
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  padding: 1px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  left: 38px;
  font: 12px Arial, sans-serif;
  top: 35px;
}

 
 
.cart {
  display: flex;
  position: relative;
}
.cart img{
  width:30%;
  cursor: pointer;
  padding-right: 10px;
}

.cart button {
  
  font-size:10px;
}

  
 
 
 

 